<footer class="main-footer" style="background-image: url({{url_for('static', filename='ucp/images/background/map-pattern.png')}})">
    <div class="footer-social-box">
        <div class="auto-container">
            <ul class="social-nav">
                <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                <li><a href="#"><span class="fa fa-vk"></span></a></li>
                <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                <li><a href="#"><span class="fa fa-instagram"></span></a></li>
            </ul>
        </div>
    </div>
    <div class="auto-container">
        <!--Widgets Section-->
        <div class="widgets-section">
            <div class="row clearfix">
                
                <!-- Footer Column -->
                <div class="footer-column col-lg-4 col-md-6 col-sm-12">
                    <div class="footer-widget logo-widget">
                        <div class="logo">
                            <a href="{{url_for('asdi.accueil')}}"><img src="{{url_for('static', filename='ucp/logo.png')}}" height="100px" width="1500px" alt="" /></a>
                        </div>
                        <div class="text text-justify">
                            Uvira Children’s Project, pour suit le but 
                            faire prendre conscience aux populations ciblées 
                            qu’avec l’aide de l’organisation et une implication 
                            active, elles détiennent la clé de l’amélioration 
                            de leurs conditions des vies. </div>
                    </div>
                </div>
                
                <!-- Footer Column -->
                <div class="footer-column col-lg-4 col-md-6 col-sm-12">
                    <div class="footer-widget links-widget">
                        <div class="footer-title">
                            <h4>Contactez - nous</h4>
                        </div>
                        <ul class="contact-link">
                            <li><span>Phone:</span> +243 976 359 001</li>
                            <li><span>E-mail:</span> info@uvirachildrensproject.org</li>
                            <li><span>Adresse:</span> En face de mosque, Mulongwe.</li>
                        </ul>
                    </div>
                </div>
                
                <!-- Footer Column -->
                <div class="footer-column col-lg-4 col-md-6 col-sm-12">
                    <div class="footer-widget newsletter-widget">
                        <div class="footer-title">
                            <h4>Bulletin d'information.</h4>
                        </div>
                        <div class="text">Abonnez – vous à notre bulletin d’information pour vous envoyer nos publications quotidiennes.</div>
                        <div class="newsletter-form">
                            <form method="post" action="">
                                <div class="form-group">
                                    <input type="email" name="email" value="" placeholder="Votre email" required="">
                                    <button type="submit" class="theme-btn submit-btn"><span class="txt">Abonnez - vous</span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="clearfix">
                <div class="pull-left">
                    <div class="copyright"><a href="www.standuprdc.net">Par StandUp RDC</a></div>
                </div>
                <div class="pull-right">
                    <div class="scroll-to-top scroll-to-target" data-target="html">En haut</div>
                </div>
            </div>
        </div>
    </div>
    
</footer>