	<!--Main Slider-->
    <section class="main-slider style-two">
        <div class="main-slider-carousel owl-carousel owl-theme">
            
            <div class="slide" style="background-image:url({{url_for('static', filename='ucp/images/main-slider/1.jpg')}})">
                <div class="auto-container">
                	<div class="content">
						<h2>Uvira Childrens Project <br>combat pour l'amelioration <br> de la vie de l'enfant.</h2>
						         	<div class="link-box">
							<a href="{{url_for('asdi.apropos')}}" class="theme-btn btn-style-one"><span class="txt">Rejoignez-nous</span></a>
						</div>
                    </div>
                </div>
            </div>
            
            <div class="slide" style="background-image:url({{url_for('static', filename='ucp/images/main-slider/2.jpg')}})">
                <div class="auto-container">
                	<div class="content">
						<h2>Nous visons un accès <br> à une alimentation saine <br> par l’agropastorale.<br></h2>
                    	<div class="link-box">
							<a href="{{url_for('asdi.apropos')}}" class="theme-btn btn-style-one"><span class="txt">Rejoignez-nous</span></a>
						</div>
                    </div>
                </div>
            </div>
            
            <div class="slide" style="background-image:url({{ url_for('static', filename='ucp/images/main-slider/3.jpg')}})">
                <div class="auto-container">
                	<div class="content">
						<h2>Une éducation pour <br> tous pour dévéloppement <br> des élites de demain.</h2>
                    	<div class="link-box">
							<a href="{{url_for('asdi.apropos')}}" class="theme-btn btn-style-one"><span class="txt">Rejoignez-nous</span></a>
						</div>
                    </div>
                </div>
            </div>
			
        </div>
		
		<!--Scroll Dwwn Btn-->
        <div class="mouse-btn-down scroll-to-target" data-target=".what-we-section"></div>
    </section>
    <!--End Main Slider-->
	