{% extends "layout/admin.html" %}
{% block summurnote %}
<style>
    img {
        max-width: 100%;
        max-height: 100%;
    }
</style>
{%endblock%}

{% block body %}
<div class="row">
    {% with messages= get_flashed_messages(with_categories=true) %}
    {% if messages  %}
    {% for category, message in messages %}
    {%if category!="danger"%}
    <div class="alert round bg-{{ category }} alert-icon-left alert-dismissible mb-2" role="alert">
        <span class="alert-icon">
            <i class="fa fa-thumbs-o-up"></i>
        </span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong class="text-gray-900">{{ message }}!</strong>

    </div>
    {%else%}
    <div class="alert round bg-{{ category }} alert-icon-left alert-dismissible mb-2" role="alert">
        <span class="alert-icon">
            <i class="fa fa-thumbs-o-down"></i>
        </span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong class="text-gray-900">{{ message }}!</strong>

    </div>
    {%endif%}

    {% endfor %}
    {% endif %}
    {% endwith %}


    {%for listes in liste%}
    <div class="col-lg-4 mb-4">
        <div class="card box-shadow--3dp">
            {%if listes[3] !=None%}
            <div class="paysage">
                <img src="{{url_for('static', filename='publication/{}'.format(listes[3]))}} " alt="" height="215"
                    width="367" class="card-img-top img-fluid">
            </div>
            {%endif%}
            <div class="card-body">
                <h5 class="card-title"> {{listes[1]}} </h5>
                <div class="card-text">
                    <div class="text-left">
                        <a href="{{url_for('publication.edit', pub_id=listes[0])}} "
                            class="btn btn-outline-success btn-sm">Editer</a>
                        <a href="" class="btn btn-outline-warning btn-sm"><i class="fa fa-camera"></i></a>
                        <a href="" class="btn btn-outline-info btn-sm"><i class="far fa-file"></i></a>
                    </div>
                    <div class="text-right">
                        <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-thumbs-up"></i> <span
                                class="badge badge-pill badge-success"> {{listes[5]}} </span> </a>
                        <a href="" class="btn btn-outline-warning btn-sm"><i class="far fa-eye"></i> <span
                                class="badge badge-pill badge-danger"> {{listes[4]}} </span> </a>
                        <a href="" class="btn btn-outline-dark btn-sm"><i class="far fa-comments"></i> <span
                                class="badge badge-pill badge-info"> {{listes[6]}} </span> </a>
                    </div>
                </div>

                <hr>
                <div class="card-text">

                    <a href="#" class="card-link pull-left">{{listes[7]}} </a>
                    <a href="#" class="card-link pull-right">Publier {{listes[8]}}</a>
                </div>

            </div>
        </div>
    </div>
    {%endfor%}
</div>
{% endblock body %}